/*-----------------------------------------------------------------*/

html, body, #home {
    height: 100%;
    overflow-x: hidden;
    margin-bottom: -40px;
}
body {
    background: url(../images/FUNDO.jpg);
    background-position: center;
}

nav.navbar-transparente {
    padding: 15px;
    background-color:#d9b504;
    font-family: "roboto";
    font-size: 20px;
    margin-bottom: -50px;
}

.navbar-light .navbar-nav .nav-link{
    color:#014011;
    margin: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:#f2f2f2;
}

.nav-logo {
    width: 150px;
    height: 60px;
}

.fade-in {
    opacity: 0;
    animation: fade-in 5s forwards;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #f2f2f2;
}

.capa{
    text-align: center;
}

.caixa {
    padding-top: 10px;
    padding-bottom: 50px;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

.caixa2 {
    padding-top: 10px;
    padding-bottom: 60px;
}

.btn-color { 
    background-color:#038c33;
    font-family: "roboto";
}

.btn-color:hover {   
    background-color:#014011; 
}

.btn-amarelo{
    background: #038c33;
    border-radius: 50px;
    color: #f2f2f2;
}
.btn-amarelo:hover{
    background: #d9b504;
    color: #014011;
}

.btn-amarelo2{
    background: #038c33;
    border-radius: 50px;
    color: #f2f2f2;
    float: right;
}
.btn-amarelo2:hover{
    background: #021f59;
    color: #d9b504;
}
#servicos {
    background: #f2f2f2;
}

#servicos2 {
    background: #e9e8e8;
}

#servicos h2, h3{
    font-family: "roboto";
    color:#014011;

}

#servicos p {
    font-family: "roboto";
    font-size: 20px;
    color: #038c33;
    letter-spacing: -0.02em;
    
}
#servicos2 h2, h3{
    font-family: "roboto";
    color:#014011;

}

#servicos2 p {
    font-family: "roboto";
    font-size: 20px;
    color: #038c33; 
    letter-spacing: -0.02em;
    
}


footer {
    text-align: center;
    background-color: #d9b504;
    padding-bottom: 1px;
}

.footer img {
    display: inline-block;
    width: 40px; 
    margin: 15px;
    
    border-radius: 20%;
}

footer p {
    font-family: "roboto";
    color: #014011;
    display: inline-block;
    margin: 16px;
    margin-top: 2px;
    font-size: 15px
}

.footer-link :hover {
    color:#f2f2f2;
}

footer h1{
    font-family: "roboto";
    color: #014011;
    margin: 16px;
    margin-top: 2px;
    font-size: 20px
}


h1{
    font-family: "roboto";
    font-weight: 900;
    color:#f2f2f2;
}

h2{
    font-family: "roboto";
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.01em;
}

h4{
    font-family: "roboto";
    color: #f2f2f2;
    font-weight: 500;
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) {}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) {  
    h1{
        font-size: 3em;
    }
}

/*Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) {  
    h1{
        font-size: 4m;
    }
}

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    h1{
        font-size: 5em;
    }
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) { 
    h1{
        font-size: 6em;
    }
}


/*-----------------------------------------------------------------*/




